.grid {
	overflow: hidden;
}

.row { overflow:hidden; }

.col {
	float: left;
}

.w-50 { width: 50%; }

.w-33 { width: 33.33%; }

.w-25 { width:25%; }

.w-75 { width:75%; }

.pad {
	padding: 0 40px;
}