.access {
	position: absolute;
	left: -9999px;
}

.icon {
	background: url(css/img/sprite.png);
	display: inline-block;
	background-repeat: no-repeat;
}

.footer .inner,
.header .inner {
	min-width: 32px;
	margin: 0 auto;
}

.content {
	max-width:960px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 50px 0;
	margin-bottom: 50px;
}

.booking {
	position: absolute;
	top: -2px;
	right: -4px;
	z-index:9;
}

@media only screen and (max-width: $breakpointTablet) {
	.content 
	{
		padding: 120px 10px 0;
		margin-bottom: 0;
	}
	.home-page .quotes {
		margin-top: 0;
	}
}