::selection {
	background: #bfa043; /* Safari */
	color:#FFF;
}
::-moz-selection {
	background: #bfa043; /* Firefox */
	color:#FFF;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'cochin', 'times', 'serif';
	font-size: 14px;
	color: #000;
	line-height: 1.5;
	margin: 0;
	min-width: 320px;
}

hr.trumpet {
	border:none;
	margin: 26px 0;
position:relative;
}
hr.trumpet:after {
	content:" ";
	display:inline-block;
	width: 40px;
	height:14px;
	background: url('css/img/sprite.png') no-repeat;
	background-position: -80px -102px;
	position:absolute;
	bottom: 5px;
	margin-left: -26px;
}

img {
	box-shadow: 0 0 10px #000;

	&.no-shadow
	{
		box-shadow: none;
	}
}


a:link {
	color: #000;
}
a:visited {
	color: #000;
}



a:hover, 
a:focus,
.menu .current-menu-item a,
.menu .current-page-ancestor a {
	color: #bfa043;
}

a:focus {
	outline: 0;
}

a:link.button,
.button {
	padding: 10px 15px;
	background-color: #631a1a;
	// -webkit-border-radius: 5px;
	// -moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	border:none;
	color:#fff;
	display:inline-block;
	margin: 0;

	+ a.button,
	+ .button 
	{
		margin-top: 15px;
	}
}

a.button:hover,
a.button:focus,
.button:focus,
.button:hover {
	background: #3f1212;
	outline:none;
}

a:visited.button,
.button:visited { color:#fff; }

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

ul.list-inline li,
ol.list-inline li,
#menu-main-nav li {
	display: inline-block;
}

ol {
	list-style: disc;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin: 0 0 10px 0;
}

h1, .h1,
h2, .h2 {
	font-family: 'rabbit';
}

h1, .h1 {
	font-size: 83px;
}

h2, .h2 {
	font-size: 41px;
}

p {
	margin: 0 0 15px;
}

form input[type="checkbox"],
form input[type="radio"] { 
	width:auto;
}

form input[type="submit"] { 
	cursor:pointer;
}

form thead th {
	font-family: 'rabbit';
	font-size: 20px;
}

form {text-align:left; }

form fieldset { 
  padding-left:0; 
  margin:20px 0 0 0;
  border:0;
}

form fieldset legend {
  font-family: 'rabbit';
  font-size:41px;
}

form input,
form textarea { 
  width: 200px; 
  padding: 7px;
  border-radius: 5px;
  border: none;
}

form label {
	display:block;
	margin-bottom: 10px;
}

table { width:100%; }

table td  { padding:10px 0; }

img
	{
		width: 100%;
		height: 100%;
	}

@media only screen and (max-width: $breakpointTablet) {
	body
	{
		font-size: 16px;
	}

	.button,
	a:link.button
	{
		display: block;
	}
}