/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$book-now-name: 'book-now';
$book-now-x: 0px;
$book-now-y: 0px;
$book-now-offset-x: 0px;
$book-now-offset-y: 0px;
$book-now-width: 130px;
$book-now-height: 129px;
$book-now-total-width: 202px;
$book-now-total-height: 179px;
$book-now-image: '../../css/img/sprite.png';
$book-now: (0px, 0px, 0px, 0px, 130px, 129px, 202px, 179px, '../../css/img/sprite.png', 'book-now', );
$close-name: 'close';
$close-x: 167px;
$close-y: 127px;
$close-offset-x: -167px;
$close-offset-y: -127px;
$close-width: 24px;
$close-height: 25px;
$close-total-width: 202px;
$close-total-height: 179px;
$close-image: '../../css/img/sprite.png';
$close: (167px, 127px, -167px, -127px, 24px, 25px, 202px, 179px, '../../css/img/sprite.png', 'close', );
$facebook-hvr-name: 'facebook-hvr';
$facebook-hvr-x: 130px;
$facebook-hvr-y: 60px;
$facebook-hvr-offset-x: -130px;
$facebook-hvr-offset-y: -60px;
$facebook-hvr-width: 35px;
$facebook-hvr-height: 35px;
$facebook-hvr-total-width: 202px;
$facebook-hvr-total-height: 179px;
$facebook-hvr-image: '../../css/img/sprite.png';
$facebook-hvr: (130px, 60px, -130px, -60px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'facebook-hvr', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 129px;
$facebook-offset-x: 0px;
$facebook-offset-y: -129px;
$facebook-width: 35px;
$facebook-height: 35px;
$facebook-total-width: 202px;
$facebook-total-height: 179px;
$facebook-image: '../../css/img/sprite.png';
$facebook: (0px, 129px, 0px, -129px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'facebook', );
$instagram-name: 'instagram';
$instagram-x: 167px;
$instagram-y: 69px;
$instagram-offset-x: -167px;
$instagram-offset-y: -69px;
$instagram-width: 34px;
$instagram-height: 34px;
$instagram-total-width: 202px;
$instagram-total-height: 179px;
$instagram-image: '../../css/img/sprite.png';
$instagram: (167px, 69px, -167px, -69px, 34px, 34px, 202px, 179px, '../../css/img/sprite.png', 'instagram', );
$instgram-hvr-name: 'instgram-hvr';
$instgram-hvr-x: 167px;
$instgram-hvr-y: 35px;
$instgram-hvr-offset-x: -167px;
$instgram-hvr-offset-y: -35px;
$instgram-hvr-width: 34px;
$instgram-hvr-height: 34px;
$instgram-hvr-total-width: 202px;
$instgram-hvr-total-height: 179px;
$instgram-hvr-image: '../../css/img/sprite.png';
$instgram-hvr: (167px, 35px, -167px, -35px, 34px, 34px, 202px, 179px, '../../css/img/sprite.png', 'instgram-hvr', );
$logo-block-name: 'logo-block';
$logo-block-x: 0px;
$logo-block-y: 164px;
$logo-block-offset-x: 0px;
$logo-block-offset-y: -164px;
$logo-block-width: 41px;
$logo-block-height: 15px;
$logo-block-total-width: 202px;
$logo-block-total-height: 179px;
$logo-block-image: '../../css/img/sprite.png';
$logo-block: (0px, 164px, 0px, -164px, 41px, 15px, 202px, 179px, '../../css/img/sprite.png', 'logo-block', );
$mail-hvr-name: 'mail-hvr';
$mail-hvr-x: 35px;
$mail-hvr-y: 129px;
$mail-hvr-offset-x: -35px;
$mail-hvr-offset-y: -129px;
$mail-hvr-width: 35px;
$mail-hvr-height: 35px;
$mail-hvr-total-width: 202px;
$mail-hvr-total-height: 179px;
$mail-hvr-image: '../../css/img/sprite.png';
$mail-hvr: (35px, 129px, -35px, -129px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'mail-hvr', );
$mail-name: 'mail';
$mail-x: 167px;
$mail-y: 0px;
$mail-offset-x: -167px;
$mail-offset-y: 0px;
$mail-width: 35px;
$mail-height: 35px;
$mail-total-width: 202px;
$mail-total-height: 179px;
$mail-image: '../../css/img/sprite.png';
$mail: (167px, 0px, -167px, 0px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'mail', );
$menu-name: 'menu';
$menu-x: 167px;
$menu-y: 103px;
$menu-offset-x: -167px;
$menu-offset-y: -103px;
$menu-width: 27px;
$menu-height: 24px;
$menu-total-width: 202px;
$menu-total-height: 179px;
$menu-image: '../../css/img/sprite.png';
$menu: (167px, 103px, -167px, -103px, 27px, 24px, 202px, 179px, '../../css/img/sprite.png', 'menu', );
$twitter-hvr-name: 'twitter-hvr';
$twitter-hvr-x: 105px;
$twitter-hvr-y: 129px;
$twitter-hvr-offset-x: -105px;
$twitter-hvr-offset-y: -129px;
$twitter-hvr-width: 35px;
$twitter-hvr-height: 35px;
$twitter-hvr-total-width: 202px;
$twitter-hvr-total-height: 179px;
$twitter-hvr-image: '../../css/img/sprite.png';
$twitter-hvr: (105px, 129px, -105px, -129px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'twitter-hvr', );
$twitter-name: 'twitter';
$twitter-x: 70px;
$twitter-y: 129px;
$twitter-offset-x: -70px;
$twitter-offset-y: -129px;
$twitter-width: 35px;
$twitter-height: 35px;
$twitter-total-width: 202px;
$twitter-total-height: 179px;
$twitter-image: '../../css/img/sprite.png';
$twitter: (70px, 129px, -70px, -129px, 35px, 35px, 202px, 179px, '../../css/img/sprite.png', 'twitter', );
$vt-logo-name: 'vt-logo';
$vt-logo-x: 130px;
$vt-logo-y: 0px;
$vt-logo-offset-x: -130px;
$vt-logo-offset-y: 0px;
$vt-logo-width: 37px;
$vt-logo-height: 60px;
$vt-logo-total-width: 202px;
$vt-logo-total-height: 179px;
$vt-logo-image: '../../css/img/sprite.png';
$vt-logo: (130px, 0px, -130px, 0px, 37px, 60px, 202px, 179px, '../../css/img/sprite.png', 'vt-logo', );
$vt-sig-name: 'vt-sig';
$vt-sig-x: 41px;
$vt-sig-y: 164px;
$vt-sig-offset-x: -41px;
$vt-sig-offset-y: -164px;
$vt-sig-width: 40px;
$vt-sig-height: 14px;
$vt-sig-total-width: 202px;
$vt-sig-total-height: 179px;
$vt-sig-image: '../../css/img/sprite.png';
$vt-sig: (41px, 164px, -41px, -164px, 40px, 14px, 202px, 179px, '../../css/img/sprite.png', 'vt-sig', );
$book-now-2x-name: 'book-now-2x';
$book-now-2x-x: 0px;
$book-now-2x-y: 0px;
$book-now-2x-offset-x: 0px;
$book-now-2x-offset-y: 0px;
$book-now-2x-width: 260px;
$book-now-2x-height: 258px;
$book-now-2x-total-width: 401px;
$book-now-2x-total-height: 355px;
$book-now-2x-image: '../../css/img/sprite-2x.png';
$book-now-2x: (0px, 0px, 0px, 0px, 260px, 258px, 401px, 355px, '../../css/img/sprite-2x.png', 'book-now-2x', );
$close-2x-name: 'close-2x';
$close-2x-x: 333px;
$close-2x-y: 185px;
$close-2x-offset-x: -333px;
$close-2x-offset-y: -185px;
$close-2x-width: 47px;
$close-2x-height: 49px;
$close-2x-total-width: 401px;
$close-2x-total-height: 355px;
$close-2x-image: '../../css/img/sprite-2x.png';
$close-2x: (333px, 185px, -333px, -185px, 47px, 49px, 401px, 355px, '../../css/img/sprite-2x.png', 'close-2x', );
$facebook-2x-name: 'facebook-2x';
$facebook-2x-x: 260px;
$facebook-2x-y: 120px;
$facebook-2x-offset-x: -260px;
$facebook-2x-offset-y: -120px;
$facebook-2x-width: 68px;
$facebook-2x-height: 68px;
$facebook-2x-total-width: 401px;
$facebook-2x-total-height: 355px;
$facebook-2x-image: '../../css/img/sprite-2x.png';
$facebook-2x: (260px, 120px, -260px, -120px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'facebook-2x', );
$facebook-hvr-2x-name: 'facebook-hvr-2x';
$facebook-hvr-2x-x: 260px;
$facebook-hvr-2x-y: 188px;
$facebook-hvr-2x-offset-x: -260px;
$facebook-hvr-2x-offset-y: -188px;
$facebook-hvr-2x-width: 68px;
$facebook-hvr-2x-height: 68px;
$facebook-hvr-2x-total-width: 401px;
$facebook-hvr-2x-total-height: 355px;
$facebook-hvr-2x-image: '../../css/img/sprite-2x.png';
$facebook-hvr-2x: (260px, 188px, -260px, -188px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'facebook-hvr-2x', );
$instagram-2x-name: 'instagram-2x';
$instagram-2x-x: 0px;
$instagram-2x-y: 258px;
$instagram-2x-offset-x: 0px;
$instagram-2x-offset-y: -258px;
$instagram-2x-width: 68px;
$instagram-2x-height: 68px;
$instagram-2x-total-width: 401px;
$instagram-2x-total-height: 355px;
$instagram-2x-image: '../../css/img/sprite-2x.png';
$instagram-2x: (0px, 258px, 0px, -258px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'instagram-2x', );
$instagram-hvr-2x-name: 'instagram-hvr-2x';
$instagram-hvr-2x-x: 68px;
$instagram-hvr-2x-y: 258px;
$instagram-hvr-2x-offset-x: -68px;
$instagram-hvr-2x-offset-y: -258px;
$instagram-hvr-2x-width: 68px;
$instagram-hvr-2x-height: 68px;
$instagram-hvr-2x-total-width: 401px;
$instagram-hvr-2x-total-height: 355px;
$instagram-hvr-2x-image: '../../css/img/sprite-2x.png';
$instagram-hvr-2x: (68px, 258px, -68px, -258px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'instagram-hvr-2x', );
$logo-block-2x-name: 'logo-block-2x';
$logo-block-2x-x: 0px;
$logo-block-2x-y: 326px;
$logo-block-2x-offset-x: 0px;
$logo-block-2x-offset-y: -326px;
$logo-block-2x-width: 81px;
$logo-block-2x-height: 29px;
$logo-block-2x-total-width: 401px;
$logo-block-2x-total-height: 355px;
$logo-block-2x-image: '../../css/img/sprite-2x.png';
$logo-block-2x: (0px, 326px, 0px, -326px, 81px, 29px, 401px, 355px, '../../css/img/sprite-2x.png', 'logo-block-2x', );
$mail-2x-name: 'mail-2x';
$mail-2x-x: 136px;
$mail-2x-y: 258px;
$mail-2x-offset-x: -136px;
$mail-2x-offset-y: -258px;
$mail-2x-width: 68px;
$mail-2x-height: 68px;
$mail-2x-total-width: 401px;
$mail-2x-total-height: 355px;
$mail-2x-image: '../../css/img/sprite-2x.png';
$mail-2x: (136px, 258px, -136px, -258px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'mail-2x', );
$mail-hvr-2x-name: 'mail-hvr-2x';
$mail-hvr-2x-x: 333px;
$mail-hvr-2x-y: 0px;
$mail-hvr-2x-offset-x: -333px;
$mail-hvr-2x-offset-y: 0px;
$mail-hvr-2x-width: 68px;
$mail-hvr-2x-height: 68px;
$mail-hvr-2x-total-width: 401px;
$mail-hvr-2x-total-height: 355px;
$mail-hvr-2x-image: '../../css/img/sprite-2x.png';
$mail-hvr-2x: (333px, 0px, -333px, 0px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'mail-hvr-2x', );
$menu-2x-name: 'menu-2x';
$menu-2x-x: 333px;
$menu-2x-y: 136px;
$menu-2x-offset-x: -333px;
$menu-2x-offset-y: -136px;
$menu-2x-width: 54px;
$menu-2x-height: 49px;
$menu-2x-total-width: 401px;
$menu-2x-total-height: 355px;
$menu-2x-image: '../../css/img/sprite-2x.png';
$menu-2x: (333px, 136px, -333px, -136px, 54px, 49px, 401px, 355px, '../../css/img/sprite-2x.png', 'menu-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 333px;
$twitter-2x-y: 68px;
$twitter-2x-offset-x: -333px;
$twitter-2x-offset-y: -68px;
$twitter-2x-width: 68px;
$twitter-2x-height: 68px;
$twitter-2x-total-width: 401px;
$twitter-2x-total-height: 355px;
$twitter-2x-image: '../../css/img/sprite-2x.png';
$twitter-2x: (333px, 68px, -333px, -68px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'twitter-2x', );
$twitter-hvr-2x-name: 'twitter-hvr-2x';
$twitter-hvr-2x-x: 204px;
$twitter-hvr-2x-y: 258px;
$twitter-hvr-2x-offset-x: -204px;
$twitter-hvr-2x-offset-y: -258px;
$twitter-hvr-2x-width: 68px;
$twitter-hvr-2x-height: 68px;
$twitter-hvr-2x-total-width: 401px;
$twitter-hvr-2x-total-height: 355px;
$twitter-hvr-2x-image: '../../css/img/sprite-2x.png';
$twitter-hvr-2x: (204px, 258px, -204px, -258px, 68px, 68px, 401px, 355px, '../../css/img/sprite-2x.png', 'twitter-hvr-2x', );
$vt-logo-2x-name: 'vt-logo-2x';
$vt-logo-2x-x: 260px;
$vt-logo-2x-y: 0px;
$vt-logo-2x-offset-x: -260px;
$vt-logo-2x-offset-y: 0px;
$vt-logo-2x-width: 73px;
$vt-logo-2x-height: 120px;
$vt-logo-2x-total-width: 401px;
$vt-logo-2x-total-height: 355px;
$vt-logo-2x-image: '../../css/img/sprite-2x.png';
$vt-logo-2x: (260px, 0px, -260px, 0px, 73px, 120px, 401px, 355px, '../../css/img/sprite-2x.png', 'vt-logo-2x', );
$vt-sig-2x-name: 'vt-sig-2x';
$vt-sig-2x-x: 81px;
$vt-sig-2x-y: 326px;
$vt-sig-2x-offset-x: -81px;
$vt-sig-2x-offset-y: -326px;
$vt-sig-2x-width: 80px;
$vt-sig-2x-height: 28px;
$vt-sig-2x-total-width: 401px;
$vt-sig-2x-total-height: 355px;
$vt-sig-2x-image: '../../css/img/sprite-2x.png';
$vt-sig-2x: (81px, 326px, -81px, -326px, 80px, 28px, 401px, 355px, '../../css/img/sprite-2x.png', 'vt-sig-2x', );
$spritesheet-width: 202px;
$spritesheet-height: 179px;
$spritesheet-image: '../../css/img/sprite.png';
$spritesheet-sprites: ($book-now, $close, $facebook-hvr, $facebook, $instagram, $instgram-hvr, $logo-block, $mail-hvr, $mail, $menu, $twitter-hvr, $twitter, $vt-logo, $vt-sig, );
$spritesheet: (202px, 179px, '../../css/img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 401px;
$retina-spritesheet-height: 355px;
$retina-spritesheet-image: '../../css/img/sprite-2x.png';
$retina-spritesheet-sprites: ($book-now-2x, $close-2x, $facebook-2x, $facebook-hvr-2x, $instagram-2x, $instagram-hvr-2x, $logo-block-2x, $mail-2x, $mail-hvr-2x, $menu-2x, $twitter-2x, $twitter-hvr-2x, $vt-logo-2x, $vt-sig-2x, );
$retina-spritesheet: (401px, 355px, '../../css/img/sprite-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$book-now-group-name: 'book-now';
$book-now-group: ('book-now', $book-now, $book-now-2x, );
$close-group-name: 'close';
$close-group: ('close', $close, $close-2x, );
$facebook-hvr-group-name: 'facebook-hvr';
$facebook-hvr-group: ('facebook-hvr', $facebook-hvr, $facebook-2x, );
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-hvr-2x, );
$instagram-group-name: 'instagram';
$instagram-group: ('instagram', $instagram, $instagram-2x, );
$instgram-hvr-group-name: 'instgram-hvr';
$instgram-hvr-group: ('instgram-hvr', $instgram-hvr, $instagram-hvr-2x, );
$logo-block-group-name: 'logo-block';
$logo-block-group: ('logo-block', $logo-block, $logo-block-2x, );
$mail-hvr-group-name: 'mail-hvr';
$mail-hvr-group: ('mail-hvr', $mail-hvr, $mail-2x, );
$mail-group-name: 'mail';
$mail-group: ('mail', $mail, $mail-hvr-2x, );
$menu-group-name: 'menu';
$menu-group: ('menu', $menu, $menu-2x, );
$twitter-hvr-group-name: 'twitter-hvr';
$twitter-hvr-group: ('twitter-hvr', $twitter-hvr, $twitter-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-hvr-2x, );
$vt-logo-group-name: 'vt-logo';
$vt-logo-group: ('vt-logo', $vt-logo, $vt-logo-2x, );
$vt-sig-group-name: 'vt-sig';
$vt-sig-group: ('vt-sig', $vt-sig, $vt-sig-2x, );
$retina-groups: ($book-now-group, $close-group, $facebook-hvr-group, $facebook-group, $instagram-group, $instgram-hvr-group, $logo-block-group, $mail-hvr-group, $mail-group, $menu-group, $twitter-hvr-group, $twitter-group, $vt-logo-group, $vt-sig-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
