.icon {
  background: url(css/img/sprite.png);
  display: inline-block;
  background-repeat: no-repeat;
}

.mail {
  background-position: -160px 0;
  width: 35px;
  height: 35px;
}
.mail:hover,
.social a:focus .mail {
  background-position: -200px 0;
  width: 35px;
  height: 35px;
}

.facebook {
  background-position: -240px 0;
  width: 35px;
  height: 35px;
}
.facebook:hover,
.social a:focus .facebook {
  background-position: -280px 0;
}

.instagram {
  background-position: 0 0;
  width: 35px;
  height: 35px;
}
.instagram:hover,
.social a:focus .youtube {
  background-position: -40px 0;
}

.twitter {
  background-position: -80px 0;
  width: 35px;
  height: 35px;
}
.twitter:hover,
.social a:focus .twitter {
  background-position: -120px 0;
}

.booking {
  background-position: -510px -278px;
  width: 130px;
  height: 129px;
}

.vt-logo {
  width:39px;
  height: 60px;
  background-position: -81px -35px;
}   

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {

  .icon {
    background-size: 320px 240px;     
  }
  .footer .tweets:before { 
    background-size: 320px 240px;
    background-position: 0 -80px; 
  }

  .vt-logo { background-position: 0 -18px; }
  .twitter { background-position: -95px -104px;  }
  .twitter:hover { background-position: -60px -104px; }
  .footer .twitter { background-position: -95px -104px; }
  .footer .twitter:hover { background-position: -60px -104px; }
  .facebook { background-position: -130px -33px; }
  .facebook:hover { background-position: -131px -68px; }
  .mail { background-position: -95px -69px; }
  .mail:hover { background-position: -59px -69px; }
  .instagram { background-position: -95px -33px; }
  .instagram:hover { background-position: -60px -33px; }
  
  .booking { background-position: -192px 0px; }
  .mob-menu i { background-position: -163px -4px; }
  .mob-menu.active i { background-position: -14px -102px; }
}