.production {
	margin-bottom: 20px;
}

.production a {
	position: relative;
	display: inline-block;
}

/*.production-list 
{
	padding-left: 0;
	padding-right: 0;

	.grid {
		margin-bottom: 10px;
	}

	.production {
		padding:10px;

		img {
		 	width:100%;
			display:block;
		}

		em {
			font-size: 18px;
		}
		h2 {
			margin: 0;
		}
		.h2 {
			font-family: 'cochin';
			line-height: 1;
		}
		.cast {
			font-family: 'times', 'arial', 'serif';
			font-size: 16px;
			text-transform: uppercase;
		}
		iframe {
			width:100%;
		}
	}
}

.production-list a,
.performance-images a {
	position:relative;
	display:block;
}
*/