// right col
.production
{
	h2,
	.h2 {
		font-family: $main-font;
	}

	.cast {
		font-size: 16px;
	}
}

// left col
.poster-large {
	padding: 10px;
	position: relative;
	
	img 
	{
		width:100%;
		max-width: 350px;
		max-height: 495px;
	}

	.booking {
		top:9px;
		right: 8px;
	}
}

.performance-dates li {
	position:relative;
	display: inline-block;
}

.reviews {
	padding-top: 40px;
}

.reviews .border {
	border-top: 1px solid #fff;
	margin: 0 20%;
}

.reviews div { padding: 0 0 10px 0; }

.reviews blockquote {
	display: inline;
	margin: 0;
}

.reviews > div:first-child .border {
	display:none;
}

@media only screen and (max-width: $breakpointTablet) {
	.poster-large
	{
		max-width: 350px;
		max-height: 495px;
		margin: {
			left: auto;
			right: auto;
		}
	}
}