.soggybrass
{
	color: #2c3046;
	
	.soggy-info
	{
		padding: 0 200px;
	}

	.col {
		text-align: justify;

		h2 
		{
			text-align: left;
			font-size: 38px;
		}
	}

	li {
		padding-left: 15px;
		position: relative;

		&:before
		{
			position: absolute;
			left: 0;
		}
	}
}

@media only screen and (max-width: $breakpointTablet) {
	.soggybrass
	{
		.soggy-info
		{
			padding: 0;
		}
		.soggy-image
		{
			width: 100%;
		}
	}
}