.soggybrass
{
	color: #2c3046;
	
	.soggy-info
	{
		padding: 0 200px;
	}

	h2 
	{
		text-align: left;
		font-size: 38px;
	}

	li {
		padding-left: 15px;
	}
}

.soggy-image {
	max-width: 100%;
}

@media only screen and (max-width: $breakpointTablet) {
	.soggybrass
	{
		.soggy-info
		{
			padding: 0;
		}
		.soggy-image
		{
			width: 100%;
		}
	}
}