$breakpointTablet: 769px;
$main-font: "cochin, 'times', 'serif'";
$title-font: 'rabbit';
$vt-brown: #631A1A;
$vt-red: $vt-brown;
$vt-gold: #BFA043;


// Bootstrap
$container-lg: 920px;
$link-hover-color: #bfa043;
$link-color: #000000;
$font-family-base: $main-font;
$line-height-base: 1.5;
$text-color: #000000;
$body-bg: #FFFFFF;
$font-size-base: 14px;
$btn-primary-bg: $vt-brown;
$icon-font-path: 'css/fonts/';