$breakpointTablet: 769px;
$main-font: "cochin, 'times', 'serif'";
$title-font: 'rabbit';


// Bootstrap
$link-hover-color: #bfa043;
$link-color: #000000;
$headings-font-family: $title-font;
$font-family-base: $main-font;
$line-height-base: 1.5;
$text-color: #000000;
$body-bg: #FFFFFF;
$font-size-base: 14px;