.woocommerce table.shop_table, .woocommerce-page table.shop_table {
		padding:5px;
	}

	.woocommerce-message {
		margin-bottom: 20px;
	}

	form input,
	form textarea,
	.woocommerce form .form-row input.input-text, 
	.woocommerce form .form-row textarea, 
	.woocommerce-page form .form-row input.input-text, 
	.woocommerce-page form .form-row textarea,
	.woocommerce form .col-1 .form-row input.input-text, 
	.woocommerce form .col-1 .form-row textarea, 
	.woocommerce-page form .col-1 .form-row input.input-text, 
	.woocommerce-page form .col-1 .form-row textarea {  
		// width: 100%; 
		padding: 10px;
		background-color: #eee;
	}

	.woocommerce {
		
		input.button,
		a.button.alt,
		a.button.alt:hover,
		a.button.alt:focus,
		a.button,
		input.button.alt,
		input.button.alt:hover,
		input.button.alt:focus
		{
			background-color: #631a1a;
			color: #fff;
		}
		
		.cart_totals
		{
			text-align: right;
			
		}
	}


	.woocommerce table.cart td.actions .coupon #coupon_code,
	.woocommerce table.cart td.actions .coupon input { 
	   width:48%; 
		margin:0;
	}

	.woocommerce #payment .payment_method_paypal .about_paypal, .woocommerce-page #payment .payment_method_paypal .about_paypal { 
		float:none; 
		display: block;
	}

	form input[type="submit"] {
		margin: 5px 0;
	}

	.woocommerce .form-row-first {
		width: 100%;
	}

	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
	  float:none;
	  width:100%;
	}
.product
{
	.product_title
	{
		font-family: $main-font;
		font-size: 41px;
	}

	.cart,
	.comment-form
	{
		text-align: center;
		margin-bottom: 20px;
	}	

	.quantity
	{
		margin-bottom: 10px;
	}

	.tabs
	{
		display: none;
	}
}