::selection {
	background: #bfa043; /* Safari */
	color:#FFF;
}
::-moz-selection {
	background: #bfa043; /* Firefox */
	color:#FFF;
}

hr.trumpet {
	border:none;
	margin: 26px 0;
	position:relative;
}

hr.trumpet:after {
	content:" ";
	display:inline-block;
	width: 40px;
	height:14px;
	background: url('css/img/sprite.png') no-repeat;
	background-position: -80px -102px;
	position:absolute;
	bottom: 5px;
	margin-left: -26px;
}

img {
	box-shadow: 0 0 10px #000;

	&.no-shadow
	{
		box-shadow: none;
	}
}

.menu .current-menu-item a,
.menu .current-page-ancestor a {
	// color: #bfa043;
}

a:focus {
	outline: 0;
}

a:link.button,
.button {
	padding: 10px 15px;
	background-color: #631a1a;
	border-radius: 5px;
	text-decoration: none;
	border:none;
	color:#fff;
	display:inline-block;
	margin: 0;

	+ a.button,
	+ .button 
	{
		margin-top: 15px;
	}
}

a.button:hover,
a.button:focus,
.button:focus,
.button:hover {
	background: #3f1212;
	outline:none;
}

a:visited.button,
.button:visited { color:#fff; }



@media only screen and (max-width: $breakpointTablet) {
	body
	{
		font-size: 16px;
	}

	.wrapper {
		padding-top: 130px;
	}
}