.production-list {

	.production {
		margin-bottom: 25px;
	}

	.production a {
		position: relative;
		display: block;
	}
}


@media only screen and (max-width: $screen-sm-min) {
	.production-list {
		.production a {
			display: inline-block;

			.wp-post-image {
				margin: 0;
			}
		}
	}
}



/*.production-list 
{
	padding-left: 0;
	padding-right: 0;

	.grid {
		margin-bottom: 10px;
	}

	.production {
		padding:10px;

		img {
		 	width:100%;
			display:block;
		}

		em {
			font-size: 18px;
		}
		h2 {
			margin: 0;
		}
		.h2 {
			font-family: 'cochin';
			line-height: 1;
		}
		.cast {
			font-family: 'times', 'arial', 'serif';
			font-size: 16px;
			text-transform: uppercase;
		}
		iframe {
			width:100%;
		}
	}
}

.production-list a,
.performance-images a {
	position:relative;
	display:block;
}
*/